@function sq($num) {
	@return $num * $num;
}

// Part of this fancy math came from Takeru Suzuki
// https://github.com/terkel/mathsass/blob/master/dist/functions/_atan.scss
@function trigram-angle($x) {
	$i: 24;
	$a: 0;
	$x: 1 / $x;

	@while $i > 0 {
		$a: (sq($i) * sq($x)) / (2 * $i + 1 + $a);
		$i: $i - 1;
	}

	@return ($PI / 2 - $x / (1 + $a)) * (180 / $PI);
}
