@function sq($num) {
	@return $num * $num;
}

// Part of this fancy math came from Takeru Suzuki
// https://github.com/terkel/mathsass/blob/master/dist/functions/_atan.scss
@function trigram-angle($x) {
	$i: 24;
	$a: 0;
	$x: 1 / $x;

	@while $i > 0 {
		$a: (sq($i) * sq($x)) / (2 * $i + 1 + $a);
		$i: $i - 1;
	}

	@return ($PI / 2 - $x / (1 + $a)) * (180 / $PI);
}

@function flag-specs($width, $height) {
	$flag-width: $width;
	$flag-height: $height;
	$elements-size-base: $flag-height / 2;
	$taegeuk: $elements-size-base;
	$taegeuk-offset: $taegeuk / 4;
	$trigram-width: $elements-size-base / 2;
	$trigram-height: $elements-size-base / 3;
	$trigram-stroke-weight: $elements-size-base / 12;
	$trigram-stroke-spacing: $elements-size-base / 24;
	$trigram-half-stroke-spacing: ($trigram-width - $trigram-stroke-spacing) / 2;

	@return (
		'flag-width': $flag-width,
		'flag-height': $flag-height,
		'elements-size-base': $elements-size-base,
		'taegeuk': $taegeuk,
		'taegeuk-offset': $taegeuk-offset,
		'trigram-width': $trigram-width,
		'trigram-height': $trigram-height,
		'trigram-stroke-weight': $trigram-stroke-weight,
		'trigram-stroke-spacing': $trigram-stroke-spacing,
		'trigram-half-stroke-spacing': $trigram-half-stroke-spacing
	)
}
