body {
	background-color: #111;
}

main {
	width: 100vw;
	height: 100vh;
}

.flag {
	width: $flag-width;
	height: $flag-height;
	background-color: #FFF;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.taegeuk {
		width: $taegeuk;
		height: $taegeuk;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(#{$rotation-1});
		border-radius: $taegeuk;

		.side {
			width: $taegeuk;
			height: $trigram-width;
			border-radius: $taegeuk $taegeuk 0 0;

			&:before {
				content:'';
				width: $trigram-width;
				height: $trigram-width;
				border-radius: $trigram-width;
				position: absolute;
				z-index: 1;
			}
		}

		.positive {
			background-color: $red;

			&:before {
				bottom: $trigram-width / 2;
				background-color: $red;
			}
		}

		.negative {
			transform: rotate(180deg);
			background-color: $blue;

			&:before {
				top: $trigram-width / 2;
				background-color: $blue;
			}
		}
	}

	.trigram {
		width: $trigram-width;
		height: $trigram-height;
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: space-between;

		.stroke {
			background-color: #000;
			height: $trigram-stroke-weight;

			&.full {
				width: $trigram-width;
			}

			&.half {
				width: ($trigram-width - $trigram-stroke-spacing) / 2;
			}
		}

		&.geon {
			@include trigram-position(top, left, bottom, true);
		}

		&.ri {
			@include trigram-position(bottom, left, top);
		}

		&.gam {
			@include trigram-position(top, right, bottom);
		}

		&.gon {
			@include trigram-position(bottom, right, top, true);
		}
	}
}
