div, button {
	margin: 20px;
}

$sprite1: (
	frames: 5,
	duration: 10s,
	image: 'sprite-thing.png'
);

.img1 {
	@include anim($sprite1);

	// @at-root {
	// 	.reverse & {
	// 		@include anim($sprite1, 'backwards');
	// 	}
	// }
}
