$img: 'sprite-thing2.png';

@mixin keyframe-test($name) {
	@at-root {
		@keyframes #{$name} {
			@content;
		}
	}
}

@mixin anim($map, $direction: null) {
	$columns: 5;
	$rows: 4;

	$spriteWidth: 800px;
	$spriteHeight: 320px;
	
	$width: $spriteWidth / $columns;
	$height: $spriteHeight / $rows;
	
	$image: map-get($map, 'image');

	width: $width;
	height: $height;
	background-image: url($image);
	background-repeat: no-repeat;
	
	$duration: map-get($map, 'duration');
	
	$random: 'anim-#{random(9999999)}';
	
	animation: #{$random} $duration steps(1) forwards;

	@if ($direction == 'reverse') {
		animation-direction: reverse;
	}

	@include keyframe-test('test-#{$random}') {
		// @for $i from 1 through ($columns * $rows) {
		// 	$keyframe: ($i) * $columns * 1%;

		// 	#{$keyframe} {
		// 		opacity: 1;
		// 	}
		// }

		// @for $i from 1 through $columns {
		// 	@for $j from 1 through $rows {
		// 		$keyframe: ($i * $j) * $columns * 1%;

		// 		#{$keyframe} {
		// 			background-position: ($width * $j * -1) ($height - $height * $i);
		// 		}
		// 	}
		// }
	}

	background-position: 0 0;
	
	@include keyframe-test($random) {
		0% {
			background-position: 0 0;
		}

		10% {
			background-position: -160px 0;
		}
		
		20% {
			background-position: -320px 0;
		}
		
		30% {
			background-position: -480px 0;
		}
		
		40% {
			background-position: -640px 0;
		}

		
		50% {
			background-position: 0 -80px;
		}
		
		60% {
			background-position: -160px -80px;
		}
		
		70% {
			background-position: -320px -80px;
		}
		
		80% {
			background-position: -480px -80px;
		}
		
		90% {
			background-position: -640px -80px;
		}
		
		100% {
			background-position: -640px -80px;
		}
		
	}
	
	/* 
	
	bottom to top
	    background-position: 0 -320px;
    /* background-position: 0 -240px; */
    /* background-position: 0 -160px; */
    /* background-position: 0 0; */
	
	
	
}
