$img: 'sprite-thing2.png';

@mixin keyframe-test($name) {
	@at-root {
		@keyframes #{$name} {
			@content;
		}
	}
}

@mixin anim($map, $direction: null) {
	$columns: map-get($map, 'columns');
	$rows: map-get($map, 'rows');
	$from:  map-get($map, 'from');
	$through:  map-get($map, 'through');
	$duration: map-get($map, 'duration');
	$image: map-get($map, 'image');
	$frames: map-get($map, 'frames');

	$axis1: $columns;
	$axis2: $rows;

	$spriteWidth: 800px;
	$spriteHeight: 320px;

	$width: $spriteWidth / $columns;
	$height: $spriteHeight / $rows;

	$random: 'anim-#{random(9999999)}';

	width: $width;
	height: $height;
	background-image: url($image);
	background-repeat: no-repeat;
	animation: #{$random} $duration steps(1) forwards;

	@if ($direction == 'reverse') {
		animation-direction: reverse;
	}

	@if ($through == 'rows') {
		$axis1: $rows;
		$axis2: $columns;
	}

	@if ($from == 'bottom') {
		background-position: 0 ($spriteHeight - $height) * -1;
	}

	@include keyframe-test($random) {
		$counter: -1;
		$position: 0 0;
		$custom-frames: false;
		$total-frames: ($axis1 * $axis2);

		@if ($frames != null and $frames < ($axis1 * $axis2)) {
			$total-frames: $frames;
			$custom-frames: true;
		}

		@for $i from 1 through $axis1 {
			@for $j from 1 through $axis2 {
				$counter: $counter + 1;

				$keyframe: $counter / $total-frames * 100%;

				@if (($custom-frames == true and $counter < $frames) or ($custom-frames == false)) {
					@if ($from == 'top') {
						@if ($through == 'columns') {
							$position: ($width + $width * $i * -1) ($height + $height * $j * -1);
						}

						@if ($through == 'rows') {
							$position: ($width + $width * $j * -1) ($height - $height * $i);
						}
					}

					@if ($from == 'bottom') {
						@if ($through == 'columns') {
							$position: ($width + $width * $i * -1) (($spriteHeight - ($height * $j)) * -1);
						}

						@if ($through == 'rows') {
							$position: ($width + $width * $j * -1) (($spriteHeight - ($height * $i)) * -1);
						}
					}

					#{$keyframe} {
						background-position: $position;
					}
				}
			}

			@if ($i == $axis1) {
				100% {
					background-position: $position;
				}
			}
		}
	}

}
