$flagL: 80vw;
$flagH: $flagL * 0.5263;
$cantonH: $flagH * 7/13;
$cantonW: $flagL * 2/5;
$stripeH: $flagH / 13;
$starH: $stripeH * 4/5;
$starSeparation_Horiz: $cantonW / 12 + $starH;
$starSeparation_Vertical: $cantonH / 10;

$MURICA_red: #B22234;
$MURICA_white: #FFF;
$MURICA_blue: #3C3B6E;
