$red: #CD2E3A;
$blue: #0047A0;

$PI: 3.1415;

$aspect-height: 2;
$aspect-length: 3;
$flag-aspect-ratio: $aspect-height / $aspect-length;
$banner-cover-ratio: 85;

$rotation-1: trigram-angle($flag-aspect-ratio) * 1deg;
$rotation-2: 90 - $rotation-1;

