<!DOCTYPE html>
<html lang='en'></html>
<head>
	<meta charset='UTF-8'>
	<title>Task Template</title>
	<link href='styles.css' rel='stylesheet'>
</head>
<body>
	<main>
		<h1>Task Template</h1>
		<!--=include includes/inc1.html -->
        <section>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, libero.</p>
            <ul>
                <li>Lorem ipsum dolor.</li>
                <li>Commodi et, impedit.</li>
                <li>Rem, quam, nisi.</li>
                <li>Natus voluptatem, quos.</li>
                <li>Consequuntur, voluptate, praesentium.</li>
                <li>Lorem ipsum dolor.
                    <span>Lorem ipsum dolor.<i>Lorem ipsum.</i></span>
                    <span>Distinctio, nobis, blanditiis.<i>Earum, eius.</i></span>
                    <span>Minus, deserunt, consequuntur.<i>Pariatur, sit.</i></span>
                    <span>Amet quia, alias.<i>Non, animi!</i></span>
                </li>
            </ul>
        </section>
	</main>
	<script src='js.js'></script>
</body>
</html>
